<%-include('partials/header') %>
    <div class="page-container login-page" style="height:75vh;">
        <div class="second-container" style="border-radius: 2rem 0 0 2rem;">
            <h1 class="page-heading">Login Page</h1>
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="Enter your email..." required>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter your password..." required>
                <div class="form-buttons">
                    <%  if(locals.msg){ %>
                        <p class="message"><%= msg %></p>
                    <% }else{ %>
                        <br />
                    <% } %>
                    <button type="submit" style="margin-top:0;">Login</button>
                    <p>Create account here, <a href="/register"> Register</a></p>
                </div>

            </form>
        </div>
        <div class="first-container" style="border-radius: 0 2rem 2rem 0;"></div>
    </div>