<%-include('partials/header') %>
<div class="page-container">
<h1 class="page-heading">Register Page</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <br>
    <input type="text" name="email" placeholder="Email" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <div class="form-buttons">
    <button type="submit">Register</button>
    <p>Already have account? <a href="/login">login</a></p>
</div>
</form>
</div>
<%-include('partials/footer') %>