*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 249, 240);
    
}
.container-fluid {
    padding-top:5rem;
    padding-bottom:5rem;
}
.container{
    padding:0 10vw;
    width:100vw;
}

.homeContainer, .aboutContainer, .contactContainer, .postContainer, .composeContainer{
    min-height:100vh !important;
    height: max-content;
    width:100%;
}
.navbar {
    /* padding-top: 15px;
    padding-bottom: 15px; */
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color:transparent;
    height:10vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    padding: 0 10vw;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
    /* color: gray !important; */
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	/* position: absolute; */
	text-align: center;
	width: 100%;
    /* bottom: 0; */
	height: max-content;
	background-color: #1abc9c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem 0 1rem;
    margin-bottom:0;
}

.footer p {
	/* margin-top: 25px; */
	font-size: 12px;
  color: #fff;
}

/***************** HOME SECTION  *****************/

.posts-section{
    display: flex;
    justify-content: flex-start;
    height:max-content;
    flex-wrap: wrap;
    gap:3rem;
    flex-direction: row;
    margin:5vh 0;
}
.post-card{
    height:max-content;
    border: 1px solid black;
    border-radius: 1rem;
    width:30%;
    padding:2rem;
    background-color: rgba(157, 233, 215, 0.829);
}

.post-date{
    text-align: right;
}

.addIcon{
    font-size: 4rem;
    padding:.5rem 2rem;
    border-radius: 50%;
    background-color: #1abc9c;
    color:white;
    position: fixed;
    bottom:15rem;
    right:12rem;
}

.addIcon:hover{
    text-decoration: none;
}
/************************ LOGIN / REGISTER SECTION  ********************/
.page-container{
    padding: 3rem 8rem;
    display: flex;
    width:80%;
    height:90vh;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.first-container, .second-container{
    width:50%;
    height:100%;
    overflow: hidden;
}

.first-container{
    border-radius: 2rem 0 0 2rem;
    background:url('https://images.pexels.com/photos/3153204/pexels-photo-3153204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    height:100%;
}

.second-container{
    border:1px solid rgb(209, 205, 205);
    border-radius: 0 2rem 2rem 0;
    padding:2rem 3rem;
    height:100%;
    background-color:white;
}

.page-container form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:100%;
}

.message{
    margin:1rem;
    color:red;
}
.form-buttons{
    margin-top:1rem;
}

.form-buttons p{
    font-size: 1.5rem;
    margin:1rem 0;
}
.form-buttons button{
    padding: 1rem;
    width:100%;
    display: block;
}
input{
    border:.5px solid rgb(209, 205, 205);
    padding:1rem;
    border-radius: .5rem;
}
.page-heading{
    text-align: center;
    margin:1.5rem;
    margin-bottom:2rem;
}


/* MEDIA QUERIES */
@media screen and (max-width:767px){

    /* NAVBAR */
    .navbar{
        height:max-content;
        padding:1vh 5vw;
    }
    
    .nav-container{
       flex-direction: column;
       gap:.5rem;
    }

    .nav{
        display: flex;

    }

   /* CONTAINER */
    .container{
        padding:0 5vw;
        height:max-content;
    }

    /* HOME */
    .addIcon{
        bottom:10vh;
        right:10vw;
    }

    .posts-section{
        flex-wrap: wrap;
    }

    .post-card{
        width:100%;
    }

    /* LOGIN / REGISTER */
    .page-container{
        width:100%;
        flex-direction: column;
        padding:0;
        height:max-content;
    }
    .first-container{
        display: none;
    }
    .second-container{
        width:100%;
        border-radius: 2rem !important;
    }

    .page-container form{
        padding:2vh 0;
        height: max-content;
    }
}