.container-fluid {
    padding-top:5rem;
    padding-bottom:5rem;
}
.container{
    padding:0 6rem;
}

.homeContainer, .aboutContainer, .contactContainer, .postContainer, .composeContainer{
    height:100vh !important;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    /* background-color: #e7e8e8; */
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
    /* color: gray !important; */
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: static;
	text-align: center;
	width: 100%;
	height: max-content;
	background-color: #1abc9c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem 0 1rem;
}

.footer p {
	/* margin-top: 25px; */
	font-size: 12px;
  color: #fff;
}

.addIcon{
    font-size: 4rem;
    padding:.5rem 2rem;
    border-radius: 50%;
    background-color: #1abc9c;
    color:white;
    position: fixed;
    bottom:15rem;
    right:12rem;
}

.addIcon:hover{
    text-decoration: none;
}